@page
<section class="header2">
    <div>
        <div class="header_text">
            <img src="~/theme/images//Tosent.png" class="img_header" style="width:10%; height:10%" />
            <img src="~/theme/images/Image169.png" class="img_header" style="width:10%; height:10%; float:right" />
        </div>
        <div class="row">

            <div class="col-12 ">

                <div class="heading">
                    <h1 style="color:white">WE MAKE APPS</h1>

                    <h4 style="color: #D35599; text-align:end">
                        $ Other Dope Stuff
                    </h4>
                </div>
                <div class="sub_heading">
                    <h2 style="color:white">AND TURN THEM INTO START-UPS | EST.2016</h2>
                </div>
            </div>

        </div>
        <div class="row">
            <div class=" col-4">
                <div class="header_text">
                    <a href="https://www.facebook.com/" target="_blank"> <img src="/theme/images/Image 179.png" class="img_center" width="100" height="60"></a>
                    <a href="https://twitter.com/" target="_blank"> <img src="/theme/images/Image 177.png" class="img_center" width="100" height="60"></a>
                    <a href="https://www.youtube.com/" target="_blank"> <img src="/theme/images/Image 178.png" class="img_center" width="100" height="60"></a>
                    <a href="https://www.instagram.com/" target="_blank"> <img src="/theme/images/Image 176.png" class="img_center" width="100" height="60"></a>
                    <a href="https://twitter.com/" target="_blank"> <img src="/theme/images/Image 177.png" class="img_center" width="100" height="60"></a>
                    <a href="https://www.facebook.com/" target="_blank"> <img src="/theme/images/component.png" class="img_center" width="100" height="60"></a>
                </div>
            </div>
            <div class=" col-8">
                <h2 class="heading3" style="color: #55C0D3;float:right;font-size:3vw;">hello@chiseltechlab.com</h2>
            </div>
        </div>
    </div>

</section>

<section class="bg-white">

    <div class="header_text_w">
        <img src="~/theme/images/Tosent.png" class="img_header" style="width:10%; height:10%" />
        <img src="~/theme/images/Image169.png" class="img_header" style="width:10%; height:10%; float:right" />
    </div>

    <div row>
        <div class="col-sm-12">
            <p class="heading-center">The average cost to make most apps is between $8,000 and $15,000.</p>

            <p class="heading-center-2">Save Time, Money & Effort by Running a Feasibility Study first.</p>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="col-4 ">
                <a href="~/theme/PDF/first.pdf" target="_blank">
                    <img src="/theme/images/image2.jpg" class="responsive">
                </a>
                <p style="text-align:center">Begginer Report</p>
                <p style="text-align:center">$2,000</p>
            </div>
            <div class="col-4 ">
                <a href="~/theme/PDF/second.pdf" target="_blank">
                    <img src="/theme/images/image2.jpg" class="responsive">
                </a>
                <p style="text-align:center">Intermediate Report</p>
                <p style="text-align:center">$2,000</p>
            </div>
            <div class="col-4 " style="float:right">
                <a href="~/theme/PDF/third.pdf" target="_blank">
                    <img src="/theme/images/image3.jpg" class="responsive">
                </a>
                <p style="text-align:center">Comprehensive Report</p>
                <p style="text-align:center">$4,000</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="float:right">
            <div class="col-sm-12">
                <p> How can I help you?</p>
                <img src="/theme/images/image4.jpg" class="img-rounded" style="float:right" alt="Cinque Terre" width="50" height="60">
            </div>
        </div>
    </div>
</section>

<section class="header2">
    <div>
        <div class="container-fluid">

            <div class="header_text">
                <img src="~/theme/images/Tosent.png" class="img_header" style="width:10%; height:10%" />
                <h2 class="heading3" style="color:yellow;float:right;font-size:3vw;">hello@chiseltechlab.com</h2>
            </div>
            <div class="row">

                <div class="col-12 ">

                    <div class="heading">
                        <h1 style="color:white">PLAINNING</h1>
                    </div>
                    <div class="sub_heading">
                        <h2 style="color:white">GATER ALL THE DETAILS & RUN A FEASIBILITY TEST</h2>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 ">
                    <div style="text-align:center">

                        <img src="/theme/images/image4.jpg" class="img_slide" width="100" height="100">


                        <img src="/theme/images/G.jpg" class="img_slide" width="100" height="100">


                        <img src="/theme/images/image12.jpg" class="img_slide" width="100" height="100">
                        <img src="/theme/images/R.jpg" class="img_slide" width="100" height="100">

                        <img src="/theme/images/image13.jpg" class="img_slide" width="100" height="100">

                        <img src="/theme/images/image4.jpg" class="img_slide" width="100" height="100">


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="background:black">
    <div class="header">
        <img src="~/theme/images/Tosent.png" class="img_header" style="width:10%; height:10%" />
    </div>

    <div class="row">

        <div class="col-6 col-s-3">
            <div class="img_title">
                <img src="~/theme/images/R.jpg" class="img_title" style="width:40%; height:40%; float:right" />
            </div>
        </div>
        <div class="col-6 col-s-9">
            <h1 class="display-1" style=" color:#FFEB00; text-align:center;">The Project Manager</h1>

            <h3 style="text-align: justify;  text-justify: inter-word;color:white">This is Kayaan, the Person who manages the budget, resource and timeline of the software development process.work closely with the Product owner to Ensure product backlog items are reached. He serves as supervisor to the Software engineers on the team. On smaller Teams, the Project manager will also act as TheSoftware architect to determine whether A project is technically possible to implement Into software.</h3>
        </div>


    </div>

</section>

<section style="background:black">
    <div class="header">
        <img src="~/theme/images/Tosent.png" class="img_header" style="width:10%; height:10%" />
    </div>

    <div class="row">

        <div class="col-6 col-s-3">
            <div class="img_title">
                <img src="~/theme/images/image4.jpg" class="img_title" style="width:40%; height:40%; float:right" />
            </div>
        </div>
        <div class="col-6 col-s-9">
            <h1 style=" color:#FFEB00; text-align:center;">The Product Owner</h1>

            <p style="text-align: justify;  text-justify: inter-word;color:white">
                This is Your Analyst & App Liaison Bridget.
                :) Lucky You! Since 2016, I’ve been the
                person responsible for the Return on your
                investment. Don’t be fooled by the title.
                I don’t own your product. You do. I manage
                your product Backlog or “project workflow”.
                I am accountable for making sure your wish
                list items meet your expectations in a timely
                fashion. I work with your Development team to
                optimize the work they do for you. On a smaller
                team, I’m also your operations manager which
                means I am Responsible for the administration
                of existing servers, databases; your hardware
                and cloud computing.
            </p>
        </div>


    </div>


</section>

<section class="header2">
    <div class="header">
        <img src="~/theme/images/Tosent.png" class="img_header" style="width:10%; height:10%" />
    </div>

    <div class="row">

        <div class="col-6 col-s-3">
            <div class="img_title">
                <img src="~/theme/images/G.jpg" class="img_title" style="width:40%; height:40%; float:right" />
            </div>
        </div>
        <div class="col-6 col-s-9">
            <h1 style=" color:#FFEB00; text-align:center;">The Oxygen Mask: The Lawyer</h1>

            <p style="text-align: justify;  text-justify: inter-word;color:white">
                This is Joycelyn. Let’s be clear. Every person in business is concerned about three things: Reputation,
                impact and profit. Protect yourself Adequately by having someone in your corner
                To examine your contracts for every firm you work with (including me), Get your
                copyrights and trademarks secured And get clear on ownership rights. Once you
                Start generating revenue, this is also the Person that can help you think about
                shares And the future of your new start-up.
            </p>
        </div>


    </div>
</section>

<section class="header2">
    <div class="header_text">
        <img src="~/theme/images/Tosent.png" class="img_header" style="width:10%; height:10%" />
        <h2 class="heading3" style="color:yellow;float:right;font-size:3vw;">hello@chiseltechlab.com</h2>
    </div>

    <div class="row">

        <div class="col-12 ">

            <div class="heading">
                <h1 style="color:white">MAINTAIN</h1>
            </div>
            <div class="sub_heading">
                <h2 style="color:white">BRANDING|TECH SUPPORT|AUDITING|</h2>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-3">
            <div class="circle">
                <h4 style="font-size: 5vw;">Enter</h4>
            </div>



        </div>


        <div class="col-4">

        </div>
    </div>
</section>

<section>
    <div class="bg-sky-black-bordrer">



        <div class="">
            <img src="~/theme/images/Tosent.png" class="img_header" style="width:10%; height:10%" />


        </div>

        <div class="row">

            <div class="col-12 ">

                <div class="heading">
                    <h1 style="color:black">DESIGNING</h1>
                </div>
                <div class="sub_heading">
                    <h3 style="color:black">TAKE ALL OF THE REQUIREMENTS AND PLAN THE PRODUCT DESIGN.</h3>
                    <p class="sub_heading" style="color:black">See Your Mock-UP</p>
                </div>
            </div>

        </div>
    </div>
</section>


<section>
    <div class="bg-sky" style="   background-color: #80ffff">

        <div class="row">
            <div>
                <img src="~/theme/images/Tosent.png" class="img_header" style="width:10%; height:20%" />
            </div>

        </div>

        <div class="row">

            <div class="col-4">
                <img src="/theme/images/image6.jpg" style="width:100%; height:50%">
                <p style="text-align:center">Choice 1</p>
            </div>
            <div class="col-4">
                <img src="/theme/images/imgae5.jpg" style="width:100%; height:50%">
                <p style="text-align:center">Choice 2</p>
            </div>
            <div class="col-4">
                <img src="/theme/images/image7.jpg" style="width:100%; height:50%">
                <p style="text-align:center">Choice 3</p>
            </div>
        </div>


    </div>


</section>

<section class="bg-yellow">

    <div>
        <img src="~/theme/images/Tosent.png" class="img_header" style="width:10%; height:15%" />
        <h2 class="heading3" style="color:yellow;float:right;font-size:3vw;">hello@chiseltechlab.com</h2>
    </div>

    <div class="row">
        <div class="heading">
            <h1 style="color:black">ANALYZING</h1>


            <div class="sub_heading">
                <h3 style="color:black">REVIEW THE TECHNICAL AND NONTECHNICAL REQUIREMENTS TO CREATESRS</h3>

            </div>
        </div>
    </div>


</section>

<section>
    <div class="bg-sky">



        <div class="">
            <img src="~/theme/images/Tosent.png" class="img_header" style="width:10%; height:10%" />


        </div>
        <div class="row">

            <div class="col-4">
                <p class="img_b_t"><u>Here's Where You</u></p>
                <p class="img_b_t"><u>Can Choose To Modify</u></p>
                <p class="img_b_t"><u>Your App Design.</u></p>
                <p class="img_b_t"><u>Circle All The</u>
                <p class="img_b_t"><u> Design Elements</u></p>
                <p class="img_b_t"><u>You'd Like To See</u></p>
                <p class="img_b_t"><u>Changed</u></p>
                <p class="img_b_t"><u>You Have 14 Days To Submit </u></p>
                <p class="img_b_t"><u>Any And All changes And</u></p>
                <p class="img_b_t"><u>Recommendations</u></p>
                <p class="img_b_t"><u>Note: Major Changes May</u></p>
                <p class="img_b_t"><u>Affect The Original</u></p>
                <p class="img_b_t"><u>Contract Price</u></p>
            </div>
            <div class="col-4">
                <img src="/theme/images/image7.jpg" style="width:100%; height:50%">
                <p class="img_b_t">Choice 2</p>
            </div>
            <div class="col-4">
                <p class="img_b_t"><u>After 2 weeks the</u></p>
                <p class="img_b_t"><u>Design team will make</u></p>
                <p class="img_b_t"><u>The Visionary's changes</u></p>
                <p class="img_b_t"><u>The Visionary will have 3</u>
                <p class="img_b_t"><u>Days for any final</u></p>
                <p class="img_b_t"><u>modifications.</u></p>
                <p class="img_b_t"><u>After 3 days.the design</u></p>
                <p class="img_b_t"><u>team posts the final </u></p>
                <p class="img_b_t"><u>design </u></p>
                <p class="img_b_t"><u>Create the SRS</u></p>
                <p class="img_b_t"><u>(Software requirements</u></p>
                <p class="img_b_t"><u>specification) for the dev team</u></p>
                <p class="img_b_t"><u>To start coding</u></p>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="bg-red">



        <div class="">
            <img src="~/theme/images/Tosent.png" class="img_header" style="width:10%; height:10%" />


        </div>

        <div class="row">

            <div class="col-12 ">

                <div class="heading">
                    <h1 style="color:black">CODE</h1>
                </div>
                <div class="sub_heading">
                    <h3 style="color:black">LET US TAKE CARE OF THE CODE, BUT WELL GIVE YOU REAL-TIME UPDATES ON OUR PROGRESS</h3>
                    <p class="sub_heading" style="color:black">See Update</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section style="background-color:black">

    <div row>
        <div>
            <img src="~/theme/images/Tosent.png" class="img_header" style="width:10%; height:15%" />
            <h2 style="color:#e60073;float:right;font-size:3vw;">hello@chiseltechlab.com</h2>
            <div class="headtxt">
                <p>
                    Click the<br>
                    Additional <br>Support You Need
                </p>
            </div>

        </div>
    </div>
    <div class="row">


        <div class="col-3">
            <p class="center_txt">Social media<br> management</p>

            <h1 class="circle_div_blk"></h1>
        </div>
        <div class="col-3">
            <p class="center_txt">Montly App<br> Management</p>
            <p class="circle_div_blk"></p>
        </div>
        <div class="col-3">
            <p class="center_txt">Webpage<br> Management</p>
            <p class="circle_div_blk"></p>
        </div>
        <div class="col-3">
            <p class="center_txt">Start-Up<br> Development</p>
            <p class="circle_div_blk"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="txt_2">Submit</h1>
        </div>

    </div>
</section>

<section class="header2_ddboarder">
    <div>
        <div class="container-fluid">

            <div class="header_text">
                <p style="color:white">Your CO'.s Public Image</p>
                <img src="~/theme/images/Tosent.png" class="img_header" style="width:10%; height:10%" />

            </div>
            <div class="row">

                <div class="col-12 ">

                    <div class="heading">
                        <h1 style="color:white">SOCIAL MEDIA MANAGEMENT</h1>
                    </div>

                </div>

            </div>
            <div class="row">
                <div style="text-align:center">

                    <a href="https://www.instagram.com/" target="_blank"> <img src="/theme/images/Image 176.png" class="img_slide" width="100" height="100"></a>


                    <a href="https://twitter.com/" target="_blank"><img src="/theme/images/Image 177.png" class="img_slide" width="100" height="100"></a>


                    <a href="https://www.facebook.com/" target="_blank">  <img src="/theme/images/component.png" class="img_slide" width="100" height="100"></a>
                    <a href="https://www.facebook.com/" target="_blank"> <img src="/theme/images/Image 180.png" class="img_slide" width="100" height="100"></a>

                    <a href="https://www.facebook.com/" target="_blank"> <img src="/theme/images/Image 179.png" class="img_slide" width="100" height="100"></a>

                    <a href="https://www.youtube.com/" target="_blank">   <img src="/theme/images/Image 178.png" class="img_slide" width="100" height="100"></a>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="header2_ddboarder">
    <div>
        <div class="container-fluid">

            <div class="row">
                <p class="heading3" style="color:white;float:left;font-size:2vw;">Your CO'.s Public Image</p>
            </div>
            <div class="header_text">
                <img src="~/theme/images/Tosent.png" class="img_header" style="width:10%; height:10%" />

            </div>
            <div class="row">

                <div class="col-12 ">

                    <div class="heading">
                        <p style="color:yellow">How To Become a Though Leader in Your Industry</p>
                    </div>

                </div>

            </div>
            <div class="row">
                <div>

                    <div class="col-4">
                        <p style="color:white;text-align:center">  How People Trust <br>Your<br> Professional Image</p>
                        <a href="https://www.instagram.com/" target="_blank"><img src="~/theme/images/Image 176.png" style="display: block; margin-left: auto;margin-right: auto;" /></a>
                    </div>
                    <div class="col-4">
                        <p style="color:white ;text-align:center">  How People Trust<br> Your<br> Brand’s Voice</p>
                        <a href="https://www.facebook.com/" target="_blank">  <img src="~/theme/images/Image 179.png" style="width:30%; height:auto" /></a>
                        <a href="https://www.youtube.com/" target="_blank"> <img src="~/theme/images/Image 178.png" style="width:30%; height:auto" /></a>
                        <a href="https://twitter.com/" target="_blank">   <img src="~/theme/images/Image 177.png" style="width:30%; height:auto" /></a>
                    </div>
                    <div class="col-4">
                        <p style="color:white ;text-align:center">  How People Relate<br> To Your Brand’s <br>Look</p>

                        <a href="https://www.instagram.com/" target="_blank">    <img src="~/theme/images/Image 180.png" style="width:30%; height:auto" /></a>
                        <a href="https://www.instagram.com/" target="_blank"><img src="~/theme/images/Image 181.png" style="width:30%; height:auto" /></a>
                        <a href="https://www.instagram.com/" target="_blank">   <img src="~/theme/images/component.png" style="width:30%; height:auto" /></a>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <p style="text-align:center;color:white">All companies need a voice and a solid public image. You are responsible for how that voice sounds and how that image is represented. We can help with that.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>